{% extends 'base.html' %} {% block head %}
<title>Rawc-On</title>
<link rel="canonical" href="https://rawcon.rawcsav.com/" />
{% endblock %} {% block styles %} {% assets "auth_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}{% block menu %} {% endblock %}
<div class="container">
  <div class="corner-logo">
    <img src="/static/dist/img/menatwork2.svg" alt="RAWCSAV Corner Logo" />
  </div>
  <div class="header">rawc-on</div>
  <div class="social-icons">
    <a href="https://rawcsav.com" target="_blank" rel="noopener noreferrer">
      <i class="rawcon-house-chimney"></i>
    </a>
    <a
      href="https://www.github.com/rawcsav/rawcon"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="rawcon-github"></i>
    </a>
  </div>
  <div class="main-image">
    <img
      src="/static/dist/img/rock-on.svg"
      alt="Event Illustration"
      class="main-image"
    />
  </div>
  <div class="actions">
    <img
      id="spotify-corner"
      src="/static/dist/img/Spotify_Logo_CMYK_Black.png"
      alt="Spotify Logo"
    />
    <a class="login-button" href="/login"> Login </a>
  </div>
</div>

{% endblock %}{% block scripts %} {% assets "auth_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
