{% extends 'base.html' %} {% block head %}
<title>Rawc-On</title>
<link rel="canonical" href="https://rawcon.rawcsav.com/" />
{% endblock %} {% block styles %} {% assets "auth_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block header %} {% endblock %}{% block body %}
<div class="container">
  <div class="top-row">
    <div class="presents">
      <div class="corner-logo">
        <img src="/static/dist/img/stonesav.svg" alt="RAWCSAV Corner Logo" />
      </div>
      <span class="presents-text">proudly presents...</span>
    </div>
    <div class="actions">
      <a
        href="https://www.github.com/rawcsav/rawcon"
        target="_blank"
        rel="noopener noreferrer"
        class="actions-link"
      >
        <i class="rawcon-github"></i>
        GitHub
      </a>
      <a
        href="https://www.rawcsav.com/projects#rawcon"
        target="_blank"
        rel="noopener noreferrer"
        class="actions-link"
      >
        <i class="rawcon-circle-info"></i> About</a
      ><a
        href="{{ url_for('auth.terms') }}"
        rel="noopener noreferrer"
        class="actions-link"
      >
        <i class="rawcon-scale-balanced"></i>Terms
      </a>
    </div>
  </div>
  <div class="main-image">
    <img
      src="/static/dist/img/rock-on.svg"
      alt="Event Illustration"
      class="main-image"
    />
  </div>
  <a class="login-button" href="/login">
    <img
      id="spotify-corner"
      src="/static/dist/img/signinwhite.svg"
      alt="Spotify Logo"
  /></a>
</div>

{% endblock %}{% block scripts %} {% assets "auth_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
