{% extends 'base.html' %} {% block head %}
<title>Recommendations</title>
<link rel="canonical" href="https://rawcon.rawcsav.com/recs/recommendations" />
{% endblock %} {% block styles %} {% assets "recs_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<main class="container">
  <div id="search-seeds">
    <section id="search-section" class="section">
      <div id="universal-container" class="search-container">
        <input
          type="text"
          id="universal-input"
          placeholder="Search for Tracks & Artists"
          autocomplete="off"
        />
        <button type="button" id="universal-search" class="search-btn">
          <i class="rawcon-search search-icon"></i>
        </button>
        <div id="search-dropdown" class="dropdown-menu"></div>
        <!-- Search results will be dynamically inserted here -->
      </div>
    </section>

    <section id="seeds-section" class="section">
      <div id="universal-seeds-container" class="seeds-container"></div>
      <div class="guide-step" id="seed-step">
        <h3 class="step-title">1. Search and Add Seeds</h3>
        <ul class="step-list">
          <li>
            Use the search bar <i class="rawcon-arrow-up"></i> to look for
            tracks or artists.
          </li>
          <li>
            Click the "+" button next to a search result to add it as a seed.
            You can add up to 5 combined seeds (tracks and/or artists).
          </li>
        </ul>
      </div>
      <div class="seed-counter-container">
        <div id="seed-counter" class="seed-counter">0/5</div>
        <i class="rawcon-seed"></i>
      </div>
    </section>
    <section id="results-section" class="section">
      <div id="results" class="results-container">
        <div class="guide-content">
          <div class="guide-step">
            <h3 class="step-title">2. Adjust Parameters (Optional)</h3>
            <p class="step-text">
              Fine-tune your recommendations by adjusting the number of results
              to return and the min-max sliders
              <i class="rawcon-arrow-right"></i>
            </p>
          </div>
          <div class="guide-step">
            <h3 class="step-title">3. Get Recommendations</h3>
            <p class="step-text">
              Click the "Submit" button to generate recommendations.
            </p>
          </div>
          <div class="guide-step">
            <h3 class="step-title">4. Explore Recommendations</h3>
            <ul class="step-list">
              <li>
                Play a preview (if available) by clicking the play button.
              </li>
              <li>Like the track by clicking the heart icon.</li>
              <li>Add the track to a playlist by clicking the plus icon.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="config-section" class="section">
    <form id="recommendation-form">
      <input type="hidden" id="track_seeds" name="track_seeds" />
      <input type="hidden" id="artist_seeds" name="artist_seeds" />

      <div class="form-group">
        <label><i class="rawcon-rectangle-history"></i>Number of Results</label>
        <select name="limit" id="limit">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="form-group">
        <label title="How well-known the recommended tracks should be."
          ><i class="rawcon-fire-flame-curved"></i>Popularity</label
        >
        <div id="popularity_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0</span>
            <span class="max-value">100</span>
          </div>
        </div>
        <input type="hidden" id="min_popularity" name="min_popularity" />
        <input type="hidden" id="max_popularity" name="max_popularity" />
      </div>

      <div class="form-group">
        <label title="The intensity and activity level of the tracks."
          ><i class="rawcon-bolt"></i>Energy</label
        >
        <div id="energy_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input type="hidden" id="min_energy" name="min_energy" />
        <input type="hidden" id="max_energy" name="max_energy" />
      </div>

      <div class="form-group">
        <label title="How likely a track is to contain no vocals."
          ><i class="rawcon-guitars"></i>Instrumentalness</label
        >
        <div id="instrumentalness_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input
          type="hidden"
          id="min_instrumentalness"
          name="min_instrumentalness"
        />
        <input
          type="hidden"
          id="max_instrumentalness"
          name="max_instrumentalness"
        />
      </div>

      <div class="form-group">
        <label title="The speed of the track in beats per minute (BPM)."
          ><i class="rawcon-gauge-high"></i>Tempo</label
        >
        <div id="tempo_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input
            type="range"
            class="min-slider"
            min="24"
            max="208"
            value="24"
          />
          <input
            type="range"
            class="max-slider"
            min="24"
            max="208"
            value="208"
          />
          <div class="slider-values">
            <span class="min-value">24</span>
            <span class="max-value">208</span>
          </div>
        </div>
        <input type="hidden" id="min_tempo" name="min_tempo" />
        <input type="hidden" id="max_tempo" name="max_tempo" />
      </div>

      <div class="form-group">
        <label title="How suitable a track is for dancing."
          ><i class="rawcon-wave-sine"></i>Danceability</label
        >
        <div id="danceability_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input type="hidden" id="min_danceability" name="min_danceability" />
        <input type="hidden" id="max_danceability" name="max_danceability" />
      </div>

      <div class="form-group">
        <label title="The musical positiveness conveyed by a track."
          ><i class="rawcon-masks-theater"></i>Valence</label
        >
        <div id="valence_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input type="hidden" id="min_valence" name="min_valence" />
        <input type="hidden" id="max_valence" name="max_valence" />
      </div>

      <button type="submit" id="get-recommendations">
        <i class="rawcon-star-shooting"></i>Submit
      </button>
    </form>
  </section>
</main>

<div id="playlistModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add to Playlist</h2>
    <div id="playlistOptions">
      <!-- Playlist options will be dynamically inserted here -->
    </div>
  </div>
</div>
{% endblock %}{% block scripts %} {% assets "recs_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
