{% extends 'base.html' %} {% block head %}
<title>Recommendations</title>
<link rel="canonical" href="https://rawcon.rawcsav.com/recs/recommendations" />
{% endblock %} {% block styles %} {% assets "recs_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<main class="container">
  <div id="search-seeds">
    <section id="search-section" class="section">
      <div id="universal-container" class="search-container">
        <input
          type="text"
          id="universal-input"
          placeholder="Search for Tracks & Artists"
          autocomplete="off"
        />
        <button type="button" id="universal-search" class="search-btn">
          <img
            src="{{ url_for('static', filename='dist/img/search.svg') }}"
            alt="Search"
            class="search-icon"
          />
        </button>
      </div>
      <div id="search-dropdown" class="dropdown-menu">
        <!-- Search results will be dynamically inserted here -->
      </div>
    </section>

    <section id="seeds-section" class="section">
      <div id="universal-seeds-container" class="seeds-container">
        <!-- Selected seeds will be displayed here -->
      </div>
      <div id="seed-counter" class="seed-counter">0/5</div>
    </section>
    <section id="results-section" class="section">
      <div id="results" class="results-container">
        <!-- Recommendation results will be dynamically inserted here -->
      </div>
    </section>
  </div>
  <section id="config-section" class="section">
    <form id="recommendation-form">
      <input type="hidden" id="track_seeds" name="track_seeds" />
      <input type="hidden" id="artist_seeds" name="artist_seeds" />

      <div class="form-group">
        <label>Number of Results:</label>
        <select name="limit" id="limit">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="form-group">
        <label>Popularity:</label>
        <div id="popularity_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0</span>
            <span class="max-value">100</span>
          </div>
        </div>
        <input type="hidden" id="min_popularity" name="min_popularity" />
        <input type="hidden" id="max_popularity" name="max_popularity" />
      </div>

      <div class="form-group">
        <label for="energy_slider">Energy:</label>
        <div id="energy_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input type="hidden" id="min_energy" name="min_energy" />
        <input type="hidden" id="max_energy" name="max_energy" />
      </div>

      <div class="form-group">
        <label>Instrumentalness:</label>
        <div id="instrumentalness_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input
          type="hidden"
          id="min_instrumentalness"
          name="min_instrumentalness"
        />
        <input
          type="hidden"
          id="max_instrumentalness"
          name="max_instrumentalness"
        />
      </div>

      <div class="form-group">
        <label>Tempo:</label>
        <div id="tempo_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input
            type="range"
            class="min-slider"
            min="24"
            max="208"
            value="24"
          />
          <input
            type="range"
            class="max-slider"
            min="24"
            max="208"
            value="208"
          />
          <div class="slider-values">
            <span class="min-value">24</span>
            <span class="max-value">208</span>
          </div>
        </div>
        <input type="hidden" id="min_tempo" name="min_tempo" />
        <input type="hidden" id="max_tempo" name="max_tempo" />
      </div>

      <div class="form-group">
        <label>Danceability:</label>
        <div id="danceability_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input type="hidden" id="min_danceability" name="min_danceability" />
        <input type="hidden" id="max_danceability" name="max_danceability" />
      </div>

      <div class="form-group">
        <label>Valence:</label>
        <div id="valence_slider" class="slider-container">
          <div class="slider-track"></div>
          <div class="slider-range"></div>
          <input type="range" class="min-slider" min="0" max="100" value="0" />
          <input
            type="range"
            class="max-slider"
            min="0"
            max="100"
            value="100"
          />
          <div class="slider-values">
            <span class="min-value">0.00</span>
            <span class="max-value">1.00</span>
          </div>
        </div>
        <input type="hidden" id="min_valence" name="min_valence" />
        <input type="hidden" id="max_valence" name="max_valence" />
      </div>

      <button type="submit" id="get-recommendations">
        Get Recommendations
      </button>
    </form>
  </section>
</main>

<div id="playlistModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add to Playlist</h2>
    <div id="playlistOptions">
      <!-- Playlist options will be dynamically inserted here -->
    </div>
  </div>
</div>

<div id="toast" class="toast" style="display: none"></div>
{% endblock %}{% block scripts %} {% assets "recs_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
