* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-bgd);
  color: var(--clr-txt);
  line-height: 1.6;
}

.container {
  width: 85vw;
  max-width: 85vw;
  display: flex;
}

#search-section {
  padding: 20px;
  padding-bottom: 0;
  height: 10vh;
}

#seeds-section {
  border-bottom: 2px solid var(--clr-bgd-dkr);
  width: 100%;
  border-radius: 0;
  display: flex;
  min-height: 30vh;
  height: 30vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: var(--clr-secondary);
  padding: 20px;
  text-align: center;
}

#config-section {
  flex: 2;
  padding: 20px;
  border-radius: 0;
  outline: 2px solid var(--clr-bgd-dkr);
  height: fit-content;
}

h1,
h2 {
  margin-bottom: 20px;
}

.section {
  border-radius: 8px;
}

.search-container {
  display: flex;
  position: relative;
}

#search-seeds {
  display: flex;
  flex-direction: column;
  flex: 5;
  height: 100vh;
}

#universal-input {
  flex-grow: 1;
  font-family: var(--ff-accent), serif;
  padding: 10px;
  font-weight: 50;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  border: 2px solid black;
}

.search-btn {
  border: 2px solid black;
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(var(--clr-bgd-dk), 0.1);
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  background-color: var(--clr-bgd);
}

.dropdown-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid var(--clr-bgd-dk);
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: rgba(var(--clr-bgd-dk), 0.1);
}

.result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

label {
  display: block;
  font-family: var(--ff-txt), sans-serif;
  font-weight: 600;
  margin: 0;
  font-size: 15px;
}

select,
input[type="range"] {
  width: 100%;
  border-radius: 4px;
  color: var(--clr-txt);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 20px;
}

.slider-track {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background-color: var(--clr-secondary);
  border-radius: 2px;
}

.slider-range {
  position: absolute;
  transform: translateY(-50%);
  height: 4px;
  background-color: var(--clr-txt-ltr);
  border-radius: 2px;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--clr-txt-ltr);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}

input[type="range"] {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  -webkit-appearance: none;
  background: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-txt);
  cursor: pointer;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--clr-txt-ltr);
  padding-top: 5px;
}
button {
  color: var(--clr-txt);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--clr-bgd-dk);
}

#limit {
  padding: 5px;
}

#get-recommendations {
  margin-top: 10px;
  border: 2px solid black;
  font-family: var(--ff-header), sans-serif;
  font-weight: 700;
}

#recommendation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  background-color: var(--clr-bgd);
  margin: 0;
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--clr-bgd-dkr);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.result-cover-art-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.result-cover-art-container a {
  width: 20%;
}

.result-cover-art {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caption {
  width: 100%;
}

.no-preview,
.preview {
  flex: 1;
  color: var(--clr-tertiary);
  font-size: 13px;
}

.audio-player {
  visibility: hidden;
  height: 0;
  width: 0;
}
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.play-button i {
  font-size: 25px;
  color: var(--clr-txt-ltr);
}

.result-art-caption {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Search Results Styling */
#search-dropdown {
  width: 40%;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--clr-bgd);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item:last-child {
  border-bottom: none;
}

.result-info {
  flex-grow: 1;
  margin-left: 15px;
}

.result-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.result-subtext {
  font-size: 0.9em;
  color: var(--clr-txt-ltr);
}

.add-to-seeds {
  background-color: transparent;
  color: var(--clr-secondary);
  border: none;
  padding: 12px 12px;
  width: 6px;
  height: 10px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
}

.add-to-seeds:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-bgd);
}
.seed-counter {
  background-color: var(--clr-bgd);
  color: var(--clr-txt);
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: auto;
}

.seeds-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

#results-section {
  max-height: 60vh;
  overflow-y: auto;
  border-radius: 0;
  flex-grow: 1;
  border-right: 2px solid var(--clr-bgd-dkr);
}

/* Seed Item */
.seed-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  max-width: 200px; /* Adjust as needed */
}

.seed-item:hover {
  transform: translateY(-2px);
}

.seed-info {
  flex-grow: 1;
  min-width: 0; /* Allows text to shrink below min-content */
}
.seed-name {
  font-weight: bold;
  font-size: 14px;
  color: var(--clr-secondary);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.seed-name:hover {
  text-decoration: underline;
}

/* Seed Subtext */
.seed-subtext {
  font-size: 0.8em;
  color: var(--clr-txt-ltr);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Remove Seed Button */
.remove-seed {
  background: none;
  border: none;
  color: var(--clr-txt-ltr);
  cursor: pointer;
  font-size: 1.2em;
  padding: 0 5px;
  margin-left: 8px;
  transition: color 0.2s ease;
}

.remove-seed:hover {
  color: var(--clr-tertiary);
}

/* Recommendation Results Styling */
.results-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.caption h2 {
  font-size: 1.2em;
  margin-bottom: 4px;
  font-family: var(--ff-header), serif;
  font-weight: 500;
  color: var(--clr-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.caption p {
  font-size: 1em;
  color: var(--clr-txt-lt);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}

.dropdown-content {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--clr-bgd);
}

.dropdown-content a {
  color: var(--clr-txt);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.heart-icon,
.plus-icon {
  font-size: 1.6em;
}

.heart-icon:hover,
.plus-icon:hover {
  color: var(--clr-secondary);
}

.liked,
.added {
  color: var(--clr-secondary-lt);
}

.liked:hover,
.added:hover {
  color: var(--clr-tertiary);
}

.play-button i:hover {
  color: var(--clr-secondary);
  transform: scale(1.1);
}

.pause-button i:hover {
  color: var(--clr-tertiary);
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: var(--clr-bgd);
  margin: 15% auto;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: modalFadeIn 0.3s ease-out;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close {
  color: var(--clr-txt-ltr);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.2s ease;
}

.close:hover,
.close:focus {
  color: var(--clr-tertiary);
  transform: scale(1.1);
}

/* Playlist modal specific styles */
#playlistModal h2 {
  color: var(--clr-secondary);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

#playlistOptions {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 10px;
}

#playlistOptions::-webkit-scrollbar {
  width: 8px;
}

#playlistOptions::-webkit-scrollbar-track {
  background: var(--clr-bgd-dkr);
  border-radius: 4px;
}

#playlistOptions::-webkit-scrollbar-thumb {
  background-color: var(--clr-secondary);
  border-radius: 4px;
}

.playlist-choice {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--clr-bgd-dkr);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.playlist-choice:hover {
  background-color: var(--clr-bgd-dkr);
  transform: translateX(5px);
}

.playlist-art {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.playlist-info {
  flex-grow: 1;
}

.playlist-title {
  font-weight: 600;
  color: var(--clr-txt);
  margin-bottom: 5px;
  font-size: 16px;
}

.playlist-details {
  font-size: 14px;
  color: var(--clr-txt-ltr);
}
