{% extends 'base.html' %} {% block head %}
<link rel="canonical" href="https://rawcon.rawcsav.com/user/profile" />
{% endblock %} {% block styles %} {% assets "user_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endassets %} {% endblock %} {% block body %}
<div class="profile-header">
  <div id="profile-container">
    <h1>
      {% if user_data %} {{ user_data.display_name }} {% else %} {{ user_data.id
      }} {% endif %}
    </h1>
    <div id="profile-metadata">
      {% if user_data.images and user_data.images[0] %}
      <a href="{{ user_data.external_urls.spotify }}" target="_blank">
        <img
          id="profile-pic"
          src="{{ user_data.images[0].url }}"
          alt="User Image"
        />
      </a>
      {% else %}
      <img
        id="profile-pic"
        src="/static/dist/img/user.svg"
        alt="Placeholder Image"
      />
      {% endif %}
      <div id="metadata">
        {% if user_data.followers %}
        <p>
          <img
            class="icon"
            src="/static/dist/img/users.svg"
            alt="Followers Icon"
          />
          Followers: {{ user_data.followers.total }}
        </p>
        {% endif %} {% if user_data.country %}
        <p>
          <span id="country-flag">{{ user_data.country|country_flag }}</span>
          Country: {{ user_data.country }}
        </p>
        {% endif %}
        <a class="logout" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
{% if user_data %}
<div>
  <h2>Time Period</h2>
  <select id="timePeriod">
    <option value="short_term">Short Term (4 weeks)</option>
    <option value="medium_term">Medium Term (6 months)</option>
    <option value="long_term">Long Term (Several years)</option>
  </select>
</div>

<div class="grid">
  <div class="card">
    <h2>Top Artists</h2>
    <div id="topArtists" class="grid-container"></div>
    <div class="pagination">
      <button id="prevArtists">&lt; Previous</button>
      <span id="artistsPageInfo"></span>
      <button id="nextArtists">Next &gt;</button>
    </div>
  </div>

  <div class="card">
    <h2>Top Tracks</h2>
    <div id="topTracks" class="grid-container"></div>
    <div class="pagination">
      <button id="prevTracks">&lt; Previous</button>
      <span id="tracksPageInfo"></span>
      <button id="nextTracks">Next &gt;</button>
    </div>
  </div>
  <div class="card">
    <h2>Top Genres</h2>
    <div id="topGenres"></div>
    <div id="genre-details" style="display: none">
      <h3 id="genre-title"></h3>
      <div class="genre-content">
        <div id="genre-artists">
          <h4>Top Artists</h4>
          <ul id="genre-artists-list" class="grid-container"></ul>
        </div>
        <div id="genre-tracks">
          <h4>Top Tracks</h4>
          <ul id="genre-tracks-list" class="grid-container"></ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <h2>Audio Features</h2>
    <canvas id="audioFeaturesChart"></canvas>
  </div>
</div>

<div class="card">
  <h2>Playlists</h2>
  <ul id="playlists"></ul>
</div>
{% else %}
<p>No user data available. Please try refreshing your data.</p>
{% endif %} {% endblock %}{% block scripts %}
<script>
  {% if user_data and period_data and top_genres and audio_features_summary and top_artists_summary and top_tracks_summary and playlist_summary %}
        const userData = {{ user_data | tojson | safe }};
        const periodData = {{ period_data | tojson | safe }};
        const topGenres = {{ top_genres | tojson | safe }};
        const audioFeaturesSummary = {{ audio_features_summary | tojson | safe }};
        const topArtistsSummary = {{ top_artists_summary | tojson | safe }};
        const topTracksSummary = {{ top_tracks_summary | tojson | safe }};
        const playlistSummary = {{ playlist_summary | tojson | safe }};

        console.log("Script loaded and initial display set");  // Debug log
    {% else %}
        console.log("Some required data is missing");
    {% endif %}
</script>
{% assets "user_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
