{% extends 'base.html' %} {% block head %}
<link rel="canonical" href="https://rawcon.rawcsav.com/user/profile" />
<title>
  Rawc-On | {% if user_data.display_name %} {{ user_data.display_name }} {% else
  %} {{ user_data.id }} {% endif %}
</title>
{% endblock %} {% block styles %} {% assets "user_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<div class="user-content">
  {% if user_data %}
  <div id="sticky-period" class="sticky-period">
    <i class="rawcon-calendar sticky-icon"></i>
    <span id="sticky-period-text">Last 4 Weeks</span>
  </div>
  <div class="time-selector">
    <div class="selector-header">
      <i class="rawcon-calendar"> </i>
      <div class="selector-container">
        <div class="selector-title">Select Time Range</div>
        <div class="selector-subtitle">
          Choose your Spotify listening period
        </div>
      </div>
    </div>
    <div class="time-options">
      <button class="time-option selected" data-value="short_term">
        4 weeks
      </button>
      <button class="time-option" data-value="medium_term">6 months</button>
      <button class="time-option" data-value="long_term">All time</button>
    </div>
  </div>

  <div class="artists-column">
    <h3><i class="rawcon-microphone-stand title-icon"></i>Top Artists</h3>
    <div class="scroll-container">
      <div id="topArtists" class="row-container"></div>
    </div>
  </div>

  <div class="tracks-column">
    <h3><i class="rawcon-record-vinyl title-icon"></i>Top Tracks</h3>
    <div class="scroll-container">
      <div id="topTracks" class="row-container"></div>
    </div>
  </div>

  <div class="genres-column">
    <h3><i class="rawcon-sparkles title-icon"></i>Top Genres</h3>
    <div id="topGenres"></div>
    <div id="genreOverlay" class="overlay">
      <div class="overlay-content">
        <span class="close-btn">&times;</span>
        <h3 id="genre-title"></h3>
        <div class="genre-content">
          <div id="genre-artists">
            <h4>Top Artists</h4>
            <ul
              id="genre-artists-list"
              class="grid-container artist-grid-container"
            ></ul>
          </div>
          <div id="genre-tracks">
            <h4>Top Tracks</h4>
            <ul
              id="genre-tracks-list"
              class="grid-container track-grid-container"
            ></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="chart-container">
      <canvas id="genreBubbleChart"></canvas>
    </div>
    <div class="explanation-container">
      <p class="explanation">
        Your genre distribution chart visualizes your listening habits by
        aggregating the most prominent genres from your top tracks and artists
        across short-term, medium-term, and long-term periods. Each genre is
        represented as a bubble, with its size proportional to how frequently it
        appears in the user's listening data. The spatial positioning of the
        bubbles is derived from the
        <a href="https://everynoise.com/" target="_blank"
          >Every Noise at Once</a
        >
        dataset, which maps genres based on their sonic similarities. This
        allows users to see not only their favorite genres but also how their
        preferences cluster or diversify over time, offering a clear picture of
        their evolving musical tastes.
      </p>
    </div>
  </div>
  <div class="features-column">
    <h3><i class="rawcon-symbols title-icon"></i>Audio Features</h3>
    <div class="features-row">
      <div class="audio-features">
        <canvas id="audioFeaturesChart"></canvas>
      </div>
      <div id="minMaxTrack">
        <p>
          Interact with the chart to explore the audio features of your top
          tracks.
        </p>
        <i
          class="rawcon-arrow-left"
          style="
            display: block;
            margin: auto;
            text-align: center;
            margin-top: 10px;
          "
        ></i>
      </div>
    </div>
    <div id="stats-blurbs-container"></div>

    <div class="chart-container">
      <canvas id="audioFeaturesEvolutionChart"></canvas>
      <div class="explanation-container">
        <p class="explanation">
          Your Audio Features evolution chart visualizes how key musical
          attributes in your listening history—such as danceability, energy,
          valence, acousticness, and tempo—change over time. It analyzes tracks
          from your short-term, medium-term, and long-term listening periods,
          normalizing each feature and plotting them as datasets with time
          periods on the x-axis. A moving average is applied to smooth
          fluctuations, revealing clearer trends in your musical preferences,
          such as a shift toward more energetic, acoustic, or mood-driven
          tracks.
        </p>
      </div>
    </div>
  </div>

  {% else %}
  <p>No user data available. Please try refreshing your data.</p>
  {% endif %}
</div>
{% endblock %}{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"
  integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  {% if user_data and period_data and top_genres and audio_features_summary and top_artists_summary and top_tracks_summary and playlist_summary %}
    const periodData = {{ period_data | tojson | safe }};
    const topGenres = {{ top_genres | tojson | safe }};
    const audioFeaturesSummary = {{ audio_features_summary | tojson | safe }};
    const topArtistsSummary = {{ top_artists_summary | tojson | safe }};
    const topTracksSummary = {{ top_tracks_summary | tojson | safe }};
  {% else %}
    console.log("Some required data is missing");
  {% endif %}
</script>
{% assets "user_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
