html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  justify-content: space-between;
}

.presents {
  display: flex;
  padding: var(--space-5);
  padding-left: var(--space-12);
  padding-right: var(--space-12);
  flex-direction: column;
}

.presents-text {
  font-family: var(--ff-serif);
  font-size: calc(2 * (var(--text-4xl)));
  margin-top: -40px;
  color: black;
  text-align: end;
  line-height: 1;
}

.corner-logo {
  width: 100%;
  display: flex;
}

.corner-logo img {
  max-width: 40%;
  height: auto;
}
.header {
  color: var(--main-300);
  grid-column: 3;
  grid-row: 1;
  margin-left: auto;
  font-size: 3.5em;
  font-weight: 700;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image img {
  max-width: 70%;
  max-height: 100%;
  padding: var(--space-5);
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--text-5xl);
  font-family: var(--ff-txt);
  font-weight: 700;
  padding: var(--space-5);
}
.actions a,
.actions p {
  color: var(--main-300);
  text-decoration: none;
}

#spotify-corner {
  width: 175px;
  height: auto;
}

.login-button:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.login-button {
  gap: var(--space-4);
  display: flex;
  align-items: center;
}

.corner-logo img:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
  cursor: pointer;
}
