html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  height: 100%;
}

.corner-logo {
  grid-column: 1;
  grid-row: 1;
  max-width: 200px;
}

.corner-logo img {
  max-width: 100%;
  height: auto;
}
.header {
  color: var(--clr-base);
  grid-column: 3;
  grid-row: 1;
  margin-left: auto;
  font-size: 3.5em;
  font-weight: 700;
}
.social-icons {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.social-icons a {
  color: var(--clr-base);
  text-decoration: none;
}

.social-icons i {
  font-size: 50px;
}

.main-image {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image img {
  max-width: 100%;
  max-height: 100%;
}
.actions {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.5em;
  font-weight: 700;
}
.actions a,
.actions p {
  color: var(--clr-base);
  text-decoration: none;
}

#spotify-corner {
  width: 200px;
  height: auto;
}

.login-button:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.corner-logo:hover,
.social-icons a:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
  cursor: pointer;
}
