{% if user_data is defined and user_data %}
<div class="hidden-profile"></div>
<div class="profile-menu">
  <div class="profile-top-section">
    <div id="profile-container">
      <a class="user-name" href="{{ user_data.external_urls['spotify'] }}">
        {% if user_data.display_name %} {{ user_data.display_name }} {% else %}
        {{ user_data.id }} {% endif %}
      </a>
      <div id="profile-metadata">
        {% if user_data.followers %}
        <div class="info-item user-followers">
          <i class="rawcon-users"></i>
          <span class="info-content"
            >{{ user_data.followers.total }} Followers</span
          >
        </div>
        {% endif %} {% if user_data.country %}
        <div class="info-item user-country">
          <i class="rawcon-location-dot"></i>
          <span class="info-content">{{ user_data.country }} </span>
        </div>
        {% endif %} {% if user_data.product %}
        <div class="info-item user-product">
          {% if user_data.product == 'premium' %}
          <i class="rawcon-badge-dollar"></i>
          <span class="info-content">Premium</span>
          {% elif user_data.product == 'free' %}
          <i class="rawcon-badge"></i>
          <span class="info-content">Free</span>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="nav-container">
      <a
        class="profile-nav nav-item"
        href="{{ url_for('user.profile') }}"
        data-keyword="profile"
      >
        <i class="rawcon-user-music"></i>
        Profile
      </a>
      <a
        class="recommendations-nav nav-item"
        href="{{ url_for('recs.recommendations') }}"
        data-keyword="recommendations"
      >
        <i class="rawcon-music-magnifying-glass"></i>
        Recs
      </a>
      <div class="playlist-nav nav-item" data-keyword="playlist">
        <i class="rawcon-album-collection-circle-user"></i>
        <p class="playlist-header">Playlists</p>
        <i class="rawcon-circle-chevron-down playlist-toggle-icon"></i>
      </div>
    </div>
  </div>
  <ul id="playlists" class="hidden"></ul>
  <div class="menu-bottom">
    <div class="bottom-icon-container">
      <a class="bottom-link github" href="https://github.com/rawcsav/rawcon">
        <i class="bottom-icon rawcon-github"></i>
        <span class="bottom-text">GitHub</span>
      </a>
      <a class="bottom-link rawcsav" href="http://rawcsav.com">
        <i class="bottom-icon rawcon-user-tie"></i>
        <span class="bottom-text">rawcsav</span>
      </a>
      <a class="bottom-link terms" href="/terms">
        <i class="bottom-icon rawcon-scale-balanced"></i>
        <span class="bottom-text">Terms</span>
      </a>
      <a class="bottom-link logout" href="/logout">
        <i class="bottom-icon rawcon-left-from-line"></i>
        <span class="bottom-text">Logout</span>
      </a>
    </div>
    <div class="powered-spotify">
      <p>Powered by</p>
      <img
        src="/static/dist/img/Black_Spotify_logo_with_text.svg"
        alt="Spotify Logo"
      />
    </div>
  </div>
</div>
{% endif %}
